.about-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-wrapper {
  width: 20px;
  height: 20px;
  position: relative;
}

.icon-box {
  width: 20px;
  height: 20px;
}

.inner-icon {
  width: 13.75px;
  height: 14.16px;
  border: 1.5px solid #5F6C72;
  position: absolute;
  top: 2.72px;
  left: 3.12px;
}

.breadcrumb-text {
  color: #5F6C72;
  font-size: 14px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}

.arrow-icon-wrapper {
  width: 12px;
  height: 12px;
  position: relative;
}

.arrow-icon {
  width: 3.75px;
  height: 7.5px;
  border: 1.5px solid #77878F;
  position: absolute;
  top: 2.25px;
  left: 4.5px;
}

.active-text {
  color: #2DA5F3;
  font-size: 14px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 500;
}

.title-section {
  padding: 8px;
}

.title-section h2 {
  color: #0A090B;
  font-size: 24px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
}

.description-section {
  padding: 8px;
}

.description-section p {
  color: #000000;
  font-size: 18px;
  font-family: 'Inter',sans-serif;
  font-weight: 200;
  line-height: 27.15px;
  letter-spacing: 0.36px;
  word-Wrap: 'break-word';
}
