.contact-section {
  padding:  0;
}

.breadcrumb {
  font-size: 0.9rem;
  color: #5F6C72;
}

.breadcrumb a {
  text-decoration: none;
  color: #5F6C72;
}

.breadcrumb span {
  font-weight: 500;
  color: #2DA5F3;
}

h2 {
  font-size: 18px;
  letter-spacing: 1.8px;
}

h1 {
  font-size: 44px;
  line-height: 50px;
}

.form-container {
  background-color: #377BF7;
  border-radius: 25px;
}

.form-label {
  font-size: 18px;
  font-weight: 700;
}

.btn-light {
  color: #131111;
  font-size: 15px;
  font-weight: 600;
}

ul.list-unstyled li {
  font-size: 18px;
  color: black;
  margin-bottom: 12px;
}

ul.list-unstyled i {
  font-size: 20px;
  color: black;
}

.form-control {
  background-color: white;
  border: none;
  box-shadow: none;
}

.form-control::placeholder {
  color: #ADABC3;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
