.footer {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Adjusted padding for all screen sizes */
}

.footer-top {
  display: flex;
  flex-direction: row; /* Default to row for larger screens */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 60px 0; /* Adequate padding that works across sizes */
}

.footer-logo img {
  width: 50px; /* Adjust as necessary */
}

.footer-links {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: center; /* Center links for consistency */
}

.footer-links a {
  color: #808080;
  text-decoration: none;
  margin: 10px; /* Unified margin for all links */
  font-family: 'Helvetica', sans-serif;
  font-size: 16px; /* Reduced base font size */
}

.footer-social {
  display: flex;
  justify-content: center; /* Center social icons */
  gap: 15px; /* Reduced gap for better space management */
  margin-top: 20px; /* Added top margin for separation */
}

.footer-social svg {
  color: #808080;
  font-size: 24px; /* Controlled icon size */
}

.footer-address {
  color: #808080;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  margin-top: 20px; /* Added top margin for visual separation */
  text-align: center; /* Ensure address is centered */
}

.footer-bottom {
  background-color: #F5F7FE;
  color: #808080;
  padding: 20px 10px; /* Responsive padding */
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px; /* Standardized font size */
  width: 100%; /* Ensure full width coverage */
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .footer-logo, .footer-links, .footer-social {
    align-items: center;
    justify-content: center;
  }

  .footer-logo img {
    width: 40px; /* Slightly smaller logo for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer-links a {
    font-size: 14px; /* Smaller font size for very small devices */
    margin: 8px; /* Slightly reduced margin */
  }

  .footer-social svg {
    font-size: 20px; /* Smaller icons for compact spaces */
  }
}
