.search_suggestion_line {
    display: block;
    padding: 12px 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #444;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
  }
  .search_suggestion_line:first-child {
    margin-top: 15px;
  }
  .search_suggestion_line:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .search_suggestion_line:hover {
    background-color: #333;
    transform: scale(1.02);
  }
  .search-suggestions {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  