.bigger-card {
    padding: 40px;
  }
  
  @media (min-width: 1200px) {
    .col-xl-10 {
      max-width: 80%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg-12 {
      max-width: 90%;
    }
  }
  .card:hover {
    transform: translateY(0); /* Set translation to 0 */
  }
  .bigger-card {
    background-color:#e9e9e9;
    padding: 50px;
    border: none; /* Remove border to enhance the transparent effect */
    backdrop-filter: blur(10px); /* Optional: Adds a subtle blur effect to the background */
    color :rgb(0, 0, 0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow to make the card stand out */
  }