
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 150px;
    min-height: 40px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #f15921;
    background: linear-gradient(135deg, #f5af199a, #f12711bd);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 10px  #f15921;;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #fb7341cf;;
    box-shadow: 0 0 60px#fa9773cf;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, 
  .button:focus {
    color: #ffffff;
    transform: translateY(-6px);
  }
/*   
  .button:hover::before, 
  .button:focus::before {
    opacity: 1;
  } */
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #edf6f4;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, 
  .button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
  .buttone {
    min-width: 150px;
    min-height: 40px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #f2e8e4;
    background: linear-gradient(135deg, #e14826dc, #1c0101);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 10px   #f15921;;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  

  
  .buttone:hover, 
  .buttone:focus {
    color: #ffffff;
    transform: translateY(-6px);
  }
  
  .buttone:hover::before, 
  .buttone:focus::before {
    opacity: 1;
  }
  
  /* .buttone::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #edf6f4;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
   */
  .buttone:hover::after, 
  .buttone:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }